#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Left/Right
#define ARDUX_LEFT 1

// ARTS Row
#define KEY_A 7
#define KEY_R 4
#define KEY_T 3
#define KEY_S 0
// EYIO Row
#define KEY_E 5
#define KEY_Y 6
#define KEY_I 1
#define KEY_O 2

// Define Offsets
#define LEADING_NONES NONE(0,0,0)
#define MIDDLE_NONES NONE(0, 0, 0)
#define TRAILING_NONES NONE(0, 0, 0)

// Include main ardux.io keymap
#include "../../../ardux.dtsi"